<%- include('partials/header'); -%>

<main>
    <section>
      <figure>
      <h1>
        Quote
      </h1>
      <blockquote>404 NOT FOUND, turn on your wifi maybe?</blockquote>
      <%- include('buttons') -%>
  </figure>
    </section>
      
    <section>
      <input type="search" 
            id="searchbox" placeholder="Search">
      <h2 class="h2">No quotes found</h2>
    </section>
         
  </main>

<%- include('partials/footer'); -%>